*{
    font-family: 'raleway', Arial, sans-serif;
}

/*HEADER*/
.mainWidth{
    width: 1100px;
    margin: 0 auto;
}

header{
    background-color: black;
    height: 40px;
}
/*menu*/
.menu{
    float: right;
    list-style: none;
}

.menu li{
    display: inline-block;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0 10px 0 35px;
    letter-spacing: 2px;
    line-height: 40px;
    -moz-user-select: none;
    user-select: none;
}

.menu li:hover{
    color: #2FCCA8;
}

.submenu {
    display: none;
    position: absolute;
    list-style: none;
    width: 120px;
    background-color: black;
    z-index: 1;
    top: 50px;
    left: -20px;
}

.submenu::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    height: 0;
    width: 0;
    top: -20px;
    left: 50px;
}

.submenu li{
    margin: 0 0 0 10px;
}

.logo{
    color: white;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 12px 0 0 20px;
    font-weight: bold;

}

.green{
    color: #2FCCA8;
    font-weight: 800;
}

.white{
    font-weight: 500;
}



/*SLIDER*/
.slider{
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 49%, #cfced6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 49%,#cfced6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 49%,#cfced6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cfced6',GradientType=0 ); /* IE6-9 */
}

.sliderImages ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderImages li{
    display: none;
}

.sliderImages .visible{
    display: inline-block;
}

.sliderImages{
    height: 410px;
    width: 35%;
    float: left;
    padding: 90px 0 0 0;
}
/*read more*/
.readMore{
    width: 55%;
    float: left;
    text-align: center;
    padding: 120px 120px 0 60px;
}

.readMoreButton{
    background: #2FCCA8;
    height: 50px;
    width: 260px;
    border-radius: 10px;
    display: inline-block;
    font-size: 23px;
    text-transform: uppercase;
    color: white;
    padding-top: 12px;
    -moz-user-select: none;
    user-select: none;
}

.readMoreButton:hover{
    -webkit-box-shadow: 0 0 10px 0 rgba(143,143,143,1);
    -moz-box-shadow: 0 0 10px 0 rgba(143,143,143,1);
    box-shadow: 0 0 10px 0 rgba(143,143,143,1);
    background-color: #43c9ad;
}

.readMoreButton:active{
    -webkit-box-shadow: 0 0 10px 0 rgba(143,143,143,1);
    -moz-box-shadow: 0 0 10px 0 rgba(143,143,143,1);
    box-shadow: 0 0 10px 0 rgba(143,143,143,1);
    background-color: #45dabd;
}

.readMore span{
    font-size: 40px;
    text-transform: uppercase;
    -moz-user-select: none;
    user-select: none;
}

.readMore p{
    line-height: 1.4em;
    font-size: 15px;
    padding: 25px 0 30px 0;
}

.sliderButton{
    width:5%;
    line-height: 500px;
    float: left;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    user-select: none;
    color: #2FCCA8;
}

.sliderButton:hover{
    color: #53ecbd;
}



/*PHOTOS*/
.photos{
    height: 355px;
}
/*img boxes*/
.img{
    height: 220px;
    width: 330px;
    border: solid 1px #D9D9D9;
    margin: 35px 18px 0 15px;
    float: left;
    position: relative;
}

.fir{
    background-image: url("./../images/box1_img.jpg");
    background-position: left;
    background-size: cover;
}

.sec{
    background-image: url("./../images/box2_img.jpg");
    background-position: left;
    background-size: cover;
}

.img > div{
    content: '';
    display: block;
    position: absolute;
    height: 60px;
    width: inherit;
    background: rgba(255, 255, 255, .5);
    bottom: 10px;
    z-index: 0;
}

.img span:before{
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 150px;
    background-color: #2FCCA8;
    z-index: 1;
    bottom: -8px;
}

.img span{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 15px;
    z-index: 2;
    font-weight: 500;
}
/*text box*/
.textBox{
    position: relative;
    width: 340px;
    height: 250px;
    margin: 35px 0 0 15px;
    border: solid 1px #D9D9D9;
    float: left;
    padding: 25px 25px 25px 25px;
}

.textBox::before{
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 150px;
    top: 45px;
    left: 25px;
    background-color: #2FCCA8;
}

.textBox h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
}

.textBox p{
    line-height: 1.5em;
    font-size: 14px;
    color: grey;
}



/*BUY OPTION*/
.buyOption{
    height: 725px;
    background-color: #F1F1F1;
    padding: 45px 0 0 30px;
}
/*Title*/
.buyTitle{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.buyTitle::before{
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 320px;
    top: 30px;
    left: 0px;
    background-color: #2FCCA8;
}
/*containers*/
.plan{
    height: 535px;
    width: 30%;
    margin: 55px 3% 0 0;
    float: left;
}

.top{
    height: 35px;
    position: relative;
}

.circle{
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    left: 140px;
    top: 0px;
    border-radius: 50%;
    border: 2px solid #C1C1C1;
    background-color: white;
    z-index: 1;
}

.dot{
    content: '';
    height: 26px;
    width: 26px;
    position: absolute;
    left: 152px;
    top: 12px;
    border-radius: 50%;
    background-color: #C1C1C1;
    z-index: 2;
}
/*Inside*/
.plan h2{
    padding: 20px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: #2FCCA8;
}

/*Boxy*/
.box{
    border: 2px solid #C1C1C1;
    height: 500px;
    background-color: #F9F9F9;
    position: relative;
    z-index: 0;
}

.box div{
    height: 45px;
    background-color: #2FCCA8;
    text-align: center;
    font-size: 22px;
    line-height: 45px;
    font-weight: 500;
}

.box div:nth-of-type(2n){
    background-color: #E3E3E3;
}

.box div:nth-of-type(2n-1){
    background-color: #F1F1F1;
}

.plan div.priceBox{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #C1C1C1;
    background-color: white;
    margin: 0 auto 30px auto;
    position: relative;
}

.plan a{
    position: absolute;
    bottom: 20px;
    left: 103px;
    background-color: #2FCCA8;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
}

/*Prices*/
.price{
    font-size: 45px;
    font-weight: 600;
    line-height: 110px;
    margin: 0 auto;
}

.currency{
    position: absolute;
    right: 33px;
    bottom: 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
span{
    position: relative;
}

sup{
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: -13px;
}

/*Green Box*/
.greenBox .box{
    background-color: #2FCCA8;
    border: none;
    padding: 0 2px;
}

.greenBox .box div:nth-of-type(2n){
    background-color: white;
}

.greenBox .box div.priceBox{
    background-color: white;
    border: none;
}

.greenBox h2{
    color: white;
}

.greenBox .circle{
    background-color: #2FCCA8;
    border: none;
}

.greenBox .dot{
    background-color: white;
}

.greenBox a{
    background-color: white;
    color: #2FCCA8;
}



/*KONTAKT*/
.contact{
    height: 550px;
    padding: 45px 0 0 30px;
}
.contactTitle{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.contactTitle::before {
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 320px;
    top: 30px;
    left: 0px;
    background-color: #2FCCA8;
}

/*formularze*/
.form{
    width: 60%;
    margin: 25px 0 0 0;
    float: left;
}

#email, #message, #name{
    display: block;
    width: 630px;
    height: 65px;
    margin: 20px 0 0 0;
    border: 1px solid #2FCCA8;
}

#message{
    height: 200px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding: 15px 0 0 10px;
    color: lightgray;
    font-weight: 300;
    font-size: 32px;
    font-family: 'raleway', Arial, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}
:-moz-placeholder { /* Firefox 18- */
    color: pink;
}

.send{
    float: left;
    width: 40%;
    margin: 25px 0 0 0;
}

.redChair{
    background-image: url("../images/red_chair.png");
    width: 264px;
    height: 210px;
    margin: 0 auto;
}

/*check box*/
.checkContainer{
    display: block;
    position: relative;
    padding: 0 0 0 65px;
    margin: 30px 30px 0 30px;
    font-size: 20px;
}

.checkContainer input{
    display: none;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-image: url("./../images/form_ok.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #2FCCA8;
}

/*submit button*/
input[type="submit"]{
    display: block;
    margin: 30px auto 0 auto;
    height: 70px;
    width: 350px;
    border-radius: 15px;
    background-color: #2FCCA8;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'raleway', Arial, sans-serif;
}



/*FOOTER*/
footer{
    height: 100px;
    line-height: 100px;
    color: #9c9c9c;
}

.copyRights{
    float: left;
    width: 65%;
    font-weight: 500;
}

.socialMedia{
    float: left;
    width: 35%;
}

.flickr, .vimeo, .pinterest, .tweeter{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    float: left;
    margin: 30px 5px 0 0;
}

.flickr{
    background-image: url("./../images/flickr.png");
}

.vimeo{
    background-image: url("./../images/vimeo.png");
}

.pinterest{
    background-image: url("./../images/pinterest.png");
}

.tweeter{
    background-image: url("./../images/twitter.png");
}

.footerLogo{
    float: right;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 0 30px 0 0;
}

.footerLogo span{
    font-weight: 900;
}